.heading{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
background-color: #e4f9f5;
width: 100%;
height: 800px;
padding: 0;
margin: 0;
color: #66bfbf;
position: relative;
}
.cloud1{margin: 50px; 
margin-left: 50%;}
h1{font-size: 5rem;}
h2{font-size: 2.5rem;text-decoration: underline;text-align: center;color: #66bfbf;}
.cloud2{margin: 50px;
margin-right: 50%;}
.mountain{padding: 0%;
margin: 0%;
height: 343px;
}
.portrait{margin-top: 100px; border-radius: 50%;margin-left: 39%;}
.picpart{height: 700px;width: 100%;}
.picparth2{margin-top: 50px;padding: 0;margin-bottom: 100px;}
.picpartp{text-align: center;margin-left: 25%;margin-right: 25%;}
.gifpart{height: 800px;}
h3{color: #66bfbf;}
.gifpartpic1{float: left;margin-left: 15%;margin-right: 15%;height: auto;margin-top: 100px;}
.code{float: left;}
.ending{height: 500px;text-align: center;}
.ending1{margin-top: 100px;margin-bottom: 70px;}
.ending2{margin-bottom: 70px;}
.ending3{margin-left: 25%;margin-right: 25%; margin-bottom: 100px;}
.ending4{background-color: #66bfbf;border-radius: 10px;color: white;padding-top: 5px;padding-bottom: 5px;width: 125px;text-align: center; margin-left: 45%;margin-right: 30%;}